<mat-card-header>
    <mat-card-title>{{ editing ? '更新提醒' : '添加新提醒' }}</mat-card-title>
</mat-card-header>

<mat-card-content>
    <form [formGroup]="reminderForm" (ngSubmit)="onSubmit()">
        <div class="form-grid">
            <mat-form-field appearance="fill">
                <mat-label>标题</mat-label>
                <input matInput placeholder="输入标题" formControlName="title" [errorStateMatcher]="matcher"/>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>日期</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" [errorStateMatcher]="matcher"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>时间</mat-label>
                <input matInput type="time" formControlName="time" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>描述</mat-label>
                <input matInput placeholder="输入描述" formControlName="description" />
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" type="submit">
            {{ editing ? '保存更改' : '添加提醒' }}
        </button>
    </form>
</mat-card-content>