.main-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;    // •\?˜a—ñ•\”V?—¯‹óŒ„
  }
  
  .form-card, .list-card {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;  // ‹’†
  }
  